{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
Feedback {% endblock %}

{% block content %}
<p>Hier erhalten Sie die Antworten. Falls Sie Fragen haben und Ihnen etwas unklar ist, melden Sie sich bitte bei den Experimentatoren.
</p>
<br>
<p>
Was ist die höchste Anzahl an Filtern, die Sie setzen können? <br>
{% if player.control_question1 == 8 %}
<p class="text-success">
Ihre Antwort: {{player.control_question1}} war korrekt.
</p>
{% else %}
<p class="text-danger">
Ihre Antwort: {{player.control_question1}} war inkorrekt.
</p>
{% endif %}

<p> <strong>Erklärung:</strong> Mit der Anzahl der Filter die Sie setzen, bestimmen Sie, welche Gesichter unter den Produkten sind, die Ihnen zur Wahl stehen werden.
Wenn Sie also wie hier im Beispiel 6 Filter setzen, dann werden alle Produkte mindestens 6 Übereinstimmungen mit Ihrem Zielprodukt haben und damit einen Mindestwert von 6 haben.</p>

<br>

<p>
     Wie viele Übereinstimmungen hat das gekaufte Produkt mit dem Zielprodukt?<br>
{% if player.control_question2 == 5 %}
<p class="text-success">
Ihre Antwort: {{player.control_question2}} war korrekt.
</p>
{% else %}
<p class="text-danger">
Ihre Antwort: {{player.control_question2}} war inkorrekt.
</p>
{% endif %}

<p> <strong>Erklärung:</strong> Beide Gesichter haben: Augenbrauen, Brillen, ein zwinkerndes linkes Auge, ein voll-lächelnder Mund und keine Ohren. Daher bestehen 5 Übereinstimmungen und der Wert des gekauften Produkts würde 5 betragen. </p>
        <img src="{% static "Table/11100101.png" %}"/>
        <img src="{% static "Table/01000111.png" %}"/>

<br>
<br>
<br>

<p>
        Nehmen Sie an, Sie kaufen ein Produkt mit dem Wert 6 (6 Übereinstimmungen mit dem Zielprodukt).
    Nehmen Sie weiter an, dass der Preis für das Produkt 4 beträgt und Sie während der Suche 5 Boxen aufgedeckt haben.
    Wie hoch wäre Ihre Auszahlung in dieser Runde, wenn das Aufdecken der Boxen 0,10€ (10cent) betragen würde? </p>
{% if player.control_question3 == 1.6 %}
<p class="text-success">
Ihre Antwort: {{player.control_question3}} war korrekt.
</p>
{% else %}
<p class="text-danger">
Ihre Antwort: {{player.control_question3}} war inkorrekt.
</p>
{% endif %}

<p> <strong>Erklärung:</strong> Der Wert des Produktes beträgt 6, der Preis 4. 6-4 ergibt 2. Dann haben Sie noch 5 Boxen aufgedeckt, eine davon kostenlos, d.h., Sie zahlen zusätzlich 4*0.1=0,4€ (40 cent).
Ihre Auszahlung ist also Wert - Preis - Kosten für das  Aufdecken = 6-4-0,40=1,60€</p> </p>

<br>

<p>
        Nehmen Sie an, Sie würden in derselben Situation die Suche abbrechen. Wie hoch wäre dann Ihre Auszahlung in dieser Runde?<br>
{% if player.control_question4 == -0.4 %}
<p class="text-success">
Ihre Antwort: {{player.control_question4}} war korrekt.
</p>
{% else %}
<p class="text-danger">
Ihre Antwort: {{player.control_question4}} war inkorrekt.
</p>
{% endif %}

<p> <strong>Erklärung:</strong> Sie zahlen beim Abbrechen die Höhe der Kosten für das Aufdecken, hier also 0,40€ (40cent). Sie würden also -0,40€ in dieser Runde verdienen. Dieser Betrag würde dann mit den 6 € verrechnet, die Sie für die Teilnahme am Experiment erhalten. </p>

<br>

<p>
        Wieviele Runden werden am Ende des Experimentes ausgezahlt?<br>
{% if player.control_question5 == 2 %}
<p class="text-success">
Ihre Antwort: {{player.control_question5}} war korrekt.
</p>
{% else %}
<p class="text-danger">
Ihre Antwort: {{player.control_question5}} war inkorrekt.
</p>
{% endif %}

<p> <strong>Erklärung:</strong> Am Ende des Experiments wird eine der ersten und eine der zweiten 10 Runden zufällig ausgewählt. Diese zwei Runden werden dann an Sie ausgezahlt. Da Sie nicht wissen, welche der Runden für Sie auszahlungsrelevant sein wird, sollten Sie alle Entscheidungen vorsichtig treffen. </p>


<br>
<p>Wenn Sie noch Fragen haben, melden Sie sich bitte jetzt bei den Experimentatoren.</p>

<br><br>

    {% next_button %}

{% endblock %}
{% block scripts %}
<script>
window.onload = $(".well").hide();
</script>
{% endblock %}