{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Fragebogen
{% endblock %}

{% block styles %}
	<style type="text/css">
		.tg  {border-collapse:collapse;border-spacing:0;border:none;}
		.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:0px;overflow:hidden;word-break:normal;}
		.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:0px;overflow:hidden;word-break:normal;}
		.tg .tg-yw4l{vertical-align:top}
	</style>
{% endblock %}

{% block content %}

    <p>
       Sie sind nun am Ende des Experiments angekommen. Bitte beantworten Sie noch die folgenden Fragen.
    </p>

    
    {% formfield player.q_age %}
    {% formfield player.q_gender %}    
    {% formfield player.q_shopping %}
    {% formfield player.q_amazon %}
    {% formfield player.q_internet %}
    {% formfield player.comments %}


    <table class="tg">
		<tr>
		    <th class="tg-031e" style="width: 340px">Sind Sie im Allgemeinen ein risikobereiter Mensch oder versuchen Sie, Risiken zu vermeiden?</th>
		    <th class="tg-031e">versuche Risken zu vermeiden</th>
		    <th class="tg-031e">{% formfield player.q_risk1 with label="" %}</th>
		    <th class="tg-031e">risikobereiter Mensch</th>
		</tr>
		<tr>
		    <th class="tg-031e">In unsicheren Situationen und Zeiten, gehe ich davon aus, dass schon alles gut gehen wird.</th>
		    <th class="tg-031e">stimme überhaupt nicht zu</th>
		    <th class="tg-031e">{% formfield player.q_risk2 with label="" %}</th>
		    <th class="tg-031e">stimme vollkommen zu</th>
		</tr>
		<tr>
		    <th class="tg-031e">im Experiment versucht möglichst ähnliche Gesichter zu finden, unabhängig vom Preis</th>
		    <th class="tg-031e">stimme überhaupt nicht zu</th>
		    <th class="tg-031e">{% formfield player.q_motive1 with label="" %}</th>
		    <th class="tg-031e">stimme vollkommen zu</th>
		</tr>
		<tr>
		    <th class="tg-031e">Ich habe im Experiment nur auf den angezeigten Wert und nicht auf die Gesichter geschaut.</th>
		    <th class="tg-031e">stimme überhaupt nicht zu</th>
		    <th class="tg-031e">{% formfield player.q_motive2 with label="" %}</th>
		    <th class="tg-031e">stimme vollkommen zu</th>
		</tr>
		<tr>
		    <th class="tg-031e">Es lohnt  im Experiment, viele Filter zu setzen.</th>
		    <th class="tg-031e">stimme überhaupt nicht zu</th>
		    <th class="tg-031e">{% formfield player.q_motive3 with label="" %}</th>
		    <th class="tg-031e">stimme vollkommen zu</th>
		</tr>
	</table>


    {% next_button %}

{% endblock %}
{% block scripts %}
<script>
window.onload = $(".well").hide();
</script>
{% endblock %}