{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Filter
<p style="padding-left: 800px; font: 15px arial"> Runde {{ round }} von 20 </p>
{% endblock %}

{% block content %}

    <!-- Here nothing particular happens, theoretically speaking I should get radio buttons (see on models.py)
    to select from 0 to 8 filters -->
    Sie können nun Filter setzen. Die Anzahl der Filter bestimmt den Mindestwert der Produkte, die angezeigt werden.
    {% formfield player.filters_applied with label="Wie viele Filter möchten Sie setzen?" %}

    {% next_button %}

{% endblock %}
{% block scripts %}
<script>
window.onload = $(".well").hide();
</script>
{% endblock %}