{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Endergebnis
{% endblock %}

{% block content %}
    <p>
        Die Auszahlungsrelevanten Runden sind <span id="pay1"></span> und <span id="pay2"></span>.
        In der erste beträgt die Auszahlung {{ pay1 }}, in der zweite {{ pay2 }}.
        Ihre gesamte Auszahlung beträgt daher {{ total_payoff }}.
        Insgesamt erhalten Sie also: {{ payoff_plus }}.
    </p>
    
<p>
Bitte packen Sie leise Ihre Sachen und gehen Sie in den nächsten Raum. Dort erhalten Sie dann Ihre Auszahlung.
</p>

{% next_button %}

{% endblock %}
{% block scripts %}
<script>
var one = {{ paying_round_1 }};
var two = {{ paying_round_2 }};
var pay1 = (one - 1);
var pay2 = (two - 1);
document.getElementById("pay1").innerHTML = pay1;
document.getElementById("pay2").innerHTML = pay2;
window.onload = $(".well").hide();
</script>
{% endblock %}