{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Aufdeckungskosten
<p style="padding-left: 800px; font: 15px arial"> Runde {{ round }} von 20 </p>
{% endblock %}

{% block content %}

    <p>
        In den nachfolgenden Runden wird das Aufdecken der Boxen je Box {{ cost_clicks }} € kosten
        </p>
    <p>
        {% if one == 1 %}

                Zuerst folgt eine Proberunde. Diese Runde ist für Sie nicht auszahlungsrelevant.

        {% else %}

        {% endif %}
    </p>

    {% next_button %}
{% endblock %}

{% block scripts %}
<script>
window.onload = $(".well").hide();
</script>
{% endblock %}
