{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block content  %}
	<style>
	    .page-header {
	        border-bottom: none;
	    }

	    #otree-body {
	    	max-width: 800px;
	   
	    }
	</style>
	<p> <strong> Quick summary of the instructions written on paper. </strong> </p>
	<div style="text-align:justify; width: 800px">
		<p> Now you are going to face a task, which is considered to be a reliable indicator of cognitive ability. In many working environment these kind of tests have been often used and it is proven that there is a strict correlation with earnings on the workplace. The test is structured with a given number of matrices, each of them with 15 cells. Together the images in the cells form a pattern, which is however incomplete as one cell is left blank. Your task is to complete the pattern, by choosing among some alternatives the correct missing cell. Please remember that you have 10 minutes to solve as many matrices as possible. </p>
		<p> As soon as every player in the lab finishes his part, you are going to be presented a series of choices, where you will have to choose between a lottery and a comparison in the performance in the following cognitive task between you and a randomly drawn participant. </p>
		<p>The better your performance in the matrices, the higher the chance to end this first part with a monetary payoff and to increase the payoff of the second part. </p> 
	</div>

    <div id="attention" style="border: 2px solid red; width: 800px" align="center"> <p> <strong> Notice that once you click on the "Next" button the counter will start, therefore try to be sure you understood everything that is written on paper and ask if necessary.</strong></p> {% next_button %} </div>


    
{% endblock %}
