{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block content  %}
	<p> Temporary instructions. </p>
	<p> Now you are going to face a quiz, which is considered to be a reliable indicator of cognitive ability. In many working environment these kind of tests have been used and it is proven that there is a strict correlation with earnings on the workplace. The test is structured with 29 matrices, each of them with 15 cells. The pattern is however incomplete and one cell is left blank. Your task is to complete the pattern, by choosing among some alternatives the correct missing cell. Please remember that you have 10 minutes to solve as many matrices as possible. As soon as every player in the lab finishes his task, you are going to be presented a lottery, which is based on your results from this part and that of one randomly chosen participant. The better your performance in the matrices, the higher the chance to end this first task with a positive payoff. </p> 
	<p> Now read the instructions on paper for further information and for some examples and then click on the "Next" button to start the first part of this experiment.</p>

	</p>
    <div id="attention" style="border: 2px solid red;" align="center"> <p> Notice that once you click on the "Next" button the counter will start, therefore try to be sure you understood everything is written on paper and ask if necessary.</p> </div>
   <p> </p>

    {% next_button %}
{% endblock %}
{% block scripts %}
<script>
window.onload = $(".well").hide();
</script>
{% endblock %}