{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block content  %}
	<p> Temporary instructions. </p>
	<p> Now you are going to face a quiz, which is considered to be a reliable indicator of cognitive ability. In many working environment this kind of test has been used and it is proven that there is a strict correlation with earnings on the workplace. The test is structured with matrices, which are all missing one element. You are supposed to find it and this is going to be repeated for many times. You have 10 minutes to solve as many matrices as possible. As soon as every player in the lab finishes his task, you are going to be presented a lottery, which is based on your results from this part and that of one randomly chosen participant. The better your performance in the matrices, the higher the chance to end this first task with a positive payoff. </p> 
	<p> Now read the instructions on paper for further information and for some examples and then click on the "Next" button to start the first part of this experiment.</p>
    {% next_button %}
{% endblock %}
{% block scripts %}
<script>
window.onload = $(".well").hide();
</script>
{% endblock %}