{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Question {{ player.round_number }} of {{ Constants.num_rounds }}
{% endblock %}

{% block content %}

    <p>
        
    	{% if player.round_number == 1 %}

			<img src="{% static "quiz/1.jpg" %}" height="200" width="400" />
			<img src="{% static "quiz/1R.jpg" %}"  height="150" width="300"/>
			

		{% endif %}
		
    </p>

    
    {% formfield player.submitted_answer with label=player.question %}

    {% next_button %}

{% endblock %}
