{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Questionnaire
{% endblock %}

{% block styles %}
	<style type="text/css">
		.tg  {border-collapse:collapse;border-spacing:0;border:none;}
		.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:0px;overflow:hidden;word-break:normal;}
		.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:0px;overflow:hidden;word-break:normal;}
		.tg .tg-yw4l{vertical-align:top}
	</style>
{% endblock %}

{% block content %}

    <p>
       You reached the end of this experiment. Please answer the following questions.
    </p>

    
    {% formfield player.q_age %}
    {% formfield player.q_gender %}    
    {% formfield player.comments %}


    <table class="tg">
		<tr>
		    <th class="tg-031e" style="width: 340px">Are you generally a risk-loving person or do you try to avoid risks?</th>
		    <th class="tg-031e">I try to avoid risks</th>
		    <th class="tg-031e">{% formfield player.q_risk1 with label="" %}</th>
		    <th class="tg-031e">I am a risk-loving person</th>
		</tr>
		<tr>
		    <th class="tg-031e">In unsure situations, I usually assume everything will be fine in the end.</th>
		    <th class="tg-031e">I definitely do not agree</th>
		    <th class="tg-031e">{% formfield player.q_risk2 with label="" %}</th>
		    <th class="tg-031e">I agree completely</th>
		</tr>
		<tr>
			<th></th>
			<th></th>
			<th></th>
			<th></th>
		</tr>
		<tr>
		    <th class="tg-031e">I am quite effective at talking people into things.</th>
		    <th class="tg-031e">I definitely do not agree</th>
		    <th class="tg-031e">{% formfield player.q_social1 with label="" %}</th>
		    <th class="tg-031e">I agree completely</th>
		</tr>
		<tr>
		    <th class="tg-031e">I am quite good at convincing others to see things my way.</th>
		    <th class="tg-031e">I definitely do not agree</th>
		    <th class="tg-031e">{% formfield player.q_social2 with label="" %}</th>
		    <th class="tg-031e">I agree completely</th>
		</tr>
		<tr>
		    <th class="tg-031e">I am very good at inﬂuencing people.</th>
		    <th class="tg-031e">I definitely do not agree</th>
		    <th class="tg-031e">{% formfield player.q_social3 with label="" %}</th>
		    <th class="tg-031e">I agree completely</th>
		</tr>
		<tr>
		    <th class="tg-031e">I do not like to be the centre of attention on social occasions.</th>
		    <th class="tg-031e">I definitely do not agree</th>
		    <th class="tg-031e">{% formfield player.q_social4 with label="" %}</th>
		    <th class="tg-031e">I agree completely</th>
		</tr>
		<tr>
		    <th class="tg-031e">I do not like to organize other people’s activities.</th>
		    <th class="tg-031e">I definitely do not agree</th>
		    <th class="tg-031e">{% formfield player.q_social5 with label="" %}</th>
		    <th class="tg-031e">I agree completely</th>
		</tr>
		<tr>
		    <th class="tg-031e">I do not enjoy trying to convince people of something.</th>
		    <th class="tg-031e">I definitely do not agree</th>
		    <th class="tg-031e">{% formfield player.q_social6 with label="" %}</th>
		    <th class="tg-031e">I agree completely</th>
		</tr>
		<tr>
		    <th class="tg-031e">I enjoy being in the spotlight.</th>
		    <th class="tg-031e">I definitely do not agree</th>
		    <th class="tg-031e">{% formfield player.q_social7 with label="" %}</th>
		    <th class="tg-031e">I agree completely</th>
		</tr>
		<tr>
		    <th class="tg-031e">I perform for an audience whenever I can.</th>
		    <th class="tg-031e">I definitely do not agree</th>
		    <th class="tg-031e">{% formfield player.q_social8 with label="" %}</th>
		    <th class="tg-031e">I agree completely</th>
		</tr>
		<tr>
		    <th class="tg-031e">I usually do not like to be a “follower.”</th>
		    <th class="tg-031e">I definitely do not agree</th>
		    <th class="tg-031e">{% formfield player.q_social9 with label="" %}</th>
		    <th class="tg-031e">I agree completely</th>
		</tr>
		<tr>
		    <th class="tg-031e">In most social situations I like to have someone else take the lead.</th>
		    <th class="tg-031e">I definitely do not agree</th>
		    <th class="tg-031e">{% formfield player.q_social10 with label="" %}</th>
		    <th class="tg-031e">I agree completely</th>
		</tr>
		<tr>
		    <th class="tg-031e">In social situations I usually allow others to dominate the conversation.</th>
		    <th class="tg-031e">I definitely do not agree</th>
		    <th class="tg-031e">{% formfield player.q_social11 with label="" %}</th>
		    <th class="tg-031e">I agree completely</th>
		</tr>
		<tr>
		    <th class="tg-031e">People ﬁnd me forceful.</th>
		    <th class="tg-031e">I definitely do not agree</th>
		    <th class="tg-031e">{% formfield player.q_social12 with label="" %}</th>
		    <th class="tg-031e">I agree completely</th>
		</tr>
		<tr>
		    <th class="tg-031e">When I work with others I like to take charge.</th>
		    <th class="tg-031e">I definitely do not agree</th>
		    <th class="tg-031e">{% formfield player.q_social13 with label="" %}</th>
		    <th class="tg-031e">I agree completely</th>
		</tr>
		<tr>
		    <th class="tg-031e">When it is time to make decisions, others usually turn to me.</th>
		    <th class="tg-031e">I definitely do not agree</th>
		    <th class="tg-031e">{% formfield player.q_social14 with label="" %}</th>
		    <th class="tg-031e">I agree completely</th>
		</tr>

	</table>


    {% next_button %}

{% endblock %}
