{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block content %}
    <style>
        .page-header {
            border-bottom: none;
        }

        #otree-body {
            max-width: 850px;
       
        }
    </style>

    <div style="text-align:justify; width: 800px">    
        <p>
            Choose which alternative you prefer in each row. An algorithm will randomly pick one pair and your payment of this task will depend on your choice in that very row. On the left hand side you see a lottery that gives the chance to win 100 tokens with increasing probability; if chosen, a lottery will decide your payoff in this task, with the given probabilities. The alternative on the right hand side compares your result with that of a randomly chosen participant. If you performed better than the other participant in the cognitive task you receive 100 tokens, otherwise you receive nothing. In this latter case, if you are as good as the other participant, a payment of either 0 or 100 tokens will be randomly drawn by the software. 
        </p>
    </div>
    <div id="attention" style="border: 2px solid red; width: 800px" align="center"> 
        <p> Notice that we will assume that if you accept the lottery for a certain probability, you should accept it also for a higher probability.</p> 
    </div>
    <div id="strategy">
        <table class="tg">
            <tr>
                <td class="tg-031e">Lottery that gives 100 with probability 10%</td>
                <td id="1">
                    <div class="form-group required">
                        <div class="controls  field-q_conf_1">
                            <label class="radio-inline" for="id_q_conf_1_1"><input type="radio" id="1" value="A" name="q_conf_1" onClick="left_click(this.id)" required> </label>

                            <label class="radio-inline" for="id_q_conf_1_2"><input type="radio" id="1" value="B" name="q_conf_1" onClick="right_click(this.id)" required> </label>
                        </div>
                    </div>
                </td>
                <td class="tg-031e">Get 100 if you are better than a randomly selected participant, otherwise 0</td>
                <!-- <button onclick="verify()"> Verify </button> -->
            </tr>
            <tr>
                <td class="tg-031e">Lottery that gives 100 with probability 20%</td>
                <td id="2">
                    <div class="form-group required">
                        <div class="controls  field-q_conf_2">
                            <label class="radio-inline" for="id_q_conf_2_1"><input type="radio" id="2" value="A" name="q_conf_2" onClick="left_click(this.id)" required> </label>

                            <label class="radio-inline" for="id_q_conf_2_2"><input type="radio" id="2" value="B" name="q_conf_2" onClick="right_click(this.id)" required> </label>
                        </div>
                    </div>
                </td>
                <td class="tg-031e">Get 100 if you are better than a randomly selected participant, otherwise 0</td>
            </tr>
            <tr>
                <td class="tg-031e">Lottery that gives 100 with probability 30%</td>
                <td id="3">
                    <div class="form-group required">
                        <div class="controls  field-q_conf_3">
                            <label class="radio-inline" for="id_q_conf_3_1"><input type="radio" id="3" value="A" name="q_conf_3" onClick="left_click(this.id)" required> </label>

                            <label class="radio-inline" for="id_q_conf_3_2"><input type="radio" id="3" value="B" name="q_conf_3" onClick="right_click(this.id)" required> </label>
                        </div>
                    </div>
                </td>
                <td class="tg-031e">Get 100 if you are better than a randomly selected participant, otherwise 0</td>
            </tr>
            <tr>
                <td class="tg-031e">Lottery that gives 100 with probability 40%</td>
                <td id="4">
                    <div class="form-group required">
                        <div class="controls  field-q_conf_4">
                            <label class="radio-inline" for="id_q_conf_4_1"><input type="radio" id="4" value="A" name="q_conf_4" onClick="left_click(this.id)"required> </label>

                            <label class="radio-inline" for="id_q_conf_4_2"><input type="radio" id="4" value="B" name="q_conf_4" onClick="right_click(this.id)" required> </label>
                        </div>
                    </div>
                </td>
                <td class="tg-031e">Get 100 if you are better than a randomly selected participant, otherwise 0</td>
            </tr>
            <tr>
                <td class="tg-031e">Lottery that gives 100 with probability 50%</td>
                <td id="5">
                    <div class="form-group required">
                        <div class="controls  field-q_conf_5">
                            <label class="radio-inline" for="id_q_conf_5_1"><input type="radio" id="5" value="A" name="q_conf_5" onClick="left_click(this.id)"required> </label>

                            <label class="radio-inline" for="id_q_conf_5_2"><input type="radio" id="5" value="B" name="q_conf_5" onClick="right_click(this.id)"required> </label>               
                        </div>
                    </div>
                </td>
                <td class="tg-031e">Get 100 if you are better than a randomly selected participant, otherwise 0</td>
            </tr>
            <tr>
                <td>Lottery that gives 100 with probability 60%</td>
                <td id="6">
                    <div class="form-group required">
                        <div class="controls  field-q_conf_6">
                        
                            <label class="radio-inline" for="id_q_conf_6_1"><input type="radio" id="6" value="A" name="q_conf_6" onClick="left_click(this.id)"required> </label>

                            <label class="radio-inline" for="id_q_conf_6_2"><input type="radio" id="6" value="B" name="q_conf_6" onClick="right_click(this.id)"required> </label>
                        </div>
                    </div>
                </td>
                <td class="tg-031e">Get 100 if you are better than a randomly selected participant, otherwise 0</td>
            </tr>
            <tr>
                <td class="tg-031e">Lottery that gives 100 with probability 70%</td>
                <td id="7">
                    <div class="form-group required">
                        <div class="controls  field-q_conf_7">
                        
                            <label class="radio-inline" for="id_q_conf_7_1"><input type="radio" id="7" value="A" name="q_conf_7" onClick="left_click(this.id)"required> </label>

                            <label class="radio-inline" for="id_q_conf_7_2"><input type="radio" id="7" value="B" name="q_conf_7" onClick="right_click(this.id)"required> </label>
                        </div>
                    </div>    
                </td>
                <td class="tg-031e">Get 100 if you are better than a randomly selected participant, otherwise 0</td>
            </tr>
            <tr>
                <td class="tg-031e">Lottery that gives 100 with probability 80%</td>
                <td id="8">
                    <div class="form-group required">
                        <div class="controls  field-q_conf_8">
                        
                            <label class="radio-inline" for="id_q_conf_8_1"><input type="radio" id="8" value="A" name="q_conf_8" onClick="left_click(this.id)"required> </label>

                            <label class="radio-inline" for="id_q_conf_8_2"><input type="radio" id="8" value="B" name="q_conf_8" onClick="right_click(this.id)"required> </label>
                        </div>
                    </div>
                </td>
                <td class="tg-031e">Get 100 if you are better than a randomly selected participant, otherwise 0</td>
            </tr>
            <tr>
                <td class="tg-031e">Lottery that gives 100 with probability 90%</td>
                <td id="9">
                    <div class="form-group required">
                        <div class="controls  field-q_conf_9">
                        
                            <label class="radio-inline" for="id_q_conf_9_1"><input type="radio" id="9" value="A" name="q_conf_9" onClick="left_click(this.id)"required> </label>

                            <label class="radio-inline" for="id_q_conf_9_2"><input type="radio" id="9" value="B" name="q_conf_9" onClick="right_click(this.id)"required> </label>
                        </div>
                    </div>

                </td>
                <td class="tg-031e">Get 100 if you are better than a randomly selected participant, otherwise 0</td>
            </tr>
            <tr>
                <td class="tg-031e">Lottery that gives 100 with probability 100%</td>
                <td id="10">
                    <div class="form-group required">
                        <div class="controls  field-q_conf_10">
                        
                            <label class="radio-inline" for="id_q_conf_10_1"><input type="radio" id="10" value="A" name="q_conf_10" onClick="left_click(this.id)"required> </label>

                            <label class="radio-inline" for="id_q_conf_10_2"><input type="radio" id="10" value="B" name="q_conf_10" onClick="right_click(this.id)"required> </label>
                        </div>
                    </div>
                </td>
                <td class="tg-031e">Get 100 if you are better than a randomly selected participant, otherwise 0</td>
            </tr>
            
        </table>   
    </div>


    <script type="text/javascript"> 

        function left_click(clicked_id){
            
            var varId = parseInt(clicked_id, 10);
            i = varId;
            while(i < 11){
                var but = [':radio[id=',i,'][value=A]'];
                var but = but.join("");
                $(but).prop('checked',true);
                i++;
            }
            i = varId;
            j = 1;
            while(j < i){
                var but = [':radio[id=',j,'][value=A]'];
                var but = but.join("");
                $(but).prop('checked',false);
                j++;
            }
        }
        
        function right_click(clicked_id){
            
            var varId = parseInt(clicked_id, 10);
            i = 1;
            j = varId;
            while(i < j){
                var but = [':radio[id=',i,'][value=B]'];
                var but = but.join("");
                $(but).prop('checked',true);
                i++;
            }
            j = varId + 1;
            while(j < 11){
                var but = [':radio[id=',j,'][value=B]'];
                var but = but.join("");
                $(but).prop('checked',false);
                j++;    
            }
            
        }

    </script>


    {% next_button %}
{% endblock %}



