{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block content %}
    <p>
        Choose which alternative you prefere in each set, i.e. pair. An algorithm will randomly pick one pair and your payment of this stage will depend on your choice in that very one. On the left hand side you can see a lottery that gives the chance to win 100 tokens with increasing probability; if chosen, the software will randomly pick a number and pay you with the given probability. On the right hand side you can decide to compare your result with that of a randomly chosen participant. If you performed better you receive 100 credit points, otherwise he receives the tokens.
    </p>
    <div id="attention" style="border: 2px solid red;" align="center"> 
        <p> Notice that we will assume that if you accept the lottery for a certain probability, you should accept it also for higher probability.</p> 
    </div>
    <div id="strategy">
        <table class="tg">
            <tr>
                <td class="tg-031e">Lottery that gives 100 with probability 10%</td>
                <td id="1">{% formfield player.q_conf_1 with label="" %}</td>
                <td class="tg-031e">Get 100 if you are better than a randomly selected participant, otherwise 0</td>
            </tr>
            <tr>
                <td class="tg-031e">Lottery that gives 100 with probability 20%</td>
                <td id="2">{% formfield player.q_conf_2 with label="" %}</td>
                <td class="tg-031e">Get 100 if you are better than a randomly selected participant, otherwise 0</td>
            </tr>
            <tr>
                <td class="tg-031e">Lottery that gives 100 with probability 30%</td>
                <td id="3">{% formfield player.q_conf_3 with label="" %}</td>
                <td class="tg-031e">Get 100 if you are better than a randomly selected participant, otherwise 0</td>
            </tr>
            <tr>
                <td class="tg-031e">Lottery that gives 100 with probability 40%</td>
                <td id="4">{% formfield player.q_conf_4 with label="" %}</td>
                <td class="tg-031e">Get 100 if you are better than a randomly selected participant, otherwise 0</td>
            </tr>
            <tr>
                <td class="tg-031e">Lottery that gives 100 with probability 50%</td>
                <td id="5">{% formfield player.q_conf_5 with label="" %}</td>
                <td class="tg-031e">Get 100 if you are better than a randomly selected participant, otherwise 0</td>
            </tr>
            <tr>
                <td class="tg-031e">Lottery that gives 100 with probability 60%</td>
                <td id="6">{% formfield player.q_conf_6 with label="" %}</td>
                <td class="tg-031e">Get 100 if you are better than a randomly selected participant, otherwise 0</td>
            </tr>
            <tr>
                <td class="tg-031e">Lottery that gives 100 with probability 70%</td>
                <td id="7">{% formfield player.q_conf_7 with label="" %}</td>
                <td class="tg-031e">Get 100 if you are better than a randomly selected participant, otherwise 0</td>
            </tr>
            <tr>
                <td class="tg-031e">Lottery that gives 100 with probability 80%</td>
                <td id="8">{% formfield player.q_conf_8 with label="" %}</td>
                <td class="tg-031e">Get 100 if you are better than a randomly selected participant, otherwise 0</td>
            </tr>
            <tr>
                <td class="tg-031e">Lottery that gives 100 with probability 90%</td>
                <td id="9">{% formfield player.q_conf_9 with label="" %}</td>
                <td class="tg-031e">Get 100 if you are better than a randomly selected participant, otherwise 0</td>
            </tr>
            <tr>
                <td class="tg-031e">Lottery that gives 100 with probability 100%</td>
                <td id="10">{% formfield player.q_conf_10 with label="" %}</td>
                <td class="tg-031e">Get 100 if you are better than a randomly selected participant, otherwise 0</td>
            </tr>
            
        </table>   
    </div>
   <!--  <input type="submit" value="Next" onclick="confirm('Consider that if you switched once from the lottery to the ability related task and then you changed again to the lottery; those changes are going to be considered as errors and the second switching point will not be considered')"/> -->
<!--     <button name="next" value="True" class="btn btn-primary btn-block nextbutton" id="id_nextbutton" onclick="confirm('Consider that if you switched once from the lottery to the ability related task and then you changed again to the lottery; those changes are going to be considered as errors and the second switching point will not be considered')"> Next </button> -->

    {% next_button %}
{% endblock %}



