{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Some information for the upcoming round
{% endblock %}

{% block content %}
	
	{% if player.id_in_group == 2 %}

		{% if info_condition == "Bel" %}

			<p> In this round alpha will depend on the performance of your partner. In the table mentioned in the previous page he has chosen for the first time the lottey with a probability of winning of {{ other_confidence|floatformat:0 }}%. Moreover, in the first part he has been better than {{ other_result|floatformat:0 }} participants, therefore alpha will be {{ mpcr|floatformat:1 }}. </p>

		{% elif info_condition == "Act" %}

			<p> In this round alpha will depend on the performance of your partner. In the first part he has been better than {{ other_result|floatformat:0 }} participants, therefore alpha will be {{ mpcr|floatformat:1 }}.</p>

		{% else %}

			<p> There has been an error!! (ID = 2) </p>

		{% endif %}

	{% elif player.id_in_group == 1 %}

		{% if info_condition == "Bel" %}

			<p> In this round alpha will depend upon your performance in the previous part: the higher the number of players who scored worse than you, the higher will be alpha. Your group partner will be informed about your performance and about your choice in the table mentioned in the previous page.</p>

		{% elif info_condition == "Act" %}

			<p> In this round alpha will depend upon your performance in the previous part: the higher the number of players who scored worse than you, the higher will be alpha. Your group partner will be informed about your performance. </p>


		{% else %}

			<p> There has been an error!! (ID = 1) </p>

		{% endif %}

	{% else %}

		<p> There has been an error!! No ID </p>

	{% endif %}

    {% next_button %}

{% endblock %}