{% load otree_tags staticfiles %}

<div style="text-align:justify; width:800px" class="instructions well well-lg">

    <h3 class="panel-sub-heading">
        Instructions
    </h3>

    <p>
        This second part of the experiment consists of 12 rounds. In each of them you are going to make a single decision. One of the rounds will be randomly chosen for the payment of the second part. In each one you will be randomly paired with one other participant.
        <!-- This second part of the experiment is in the tradition of the public good games, with the difference that the return of the group project, called alpha, will depend on the relative ability shown either by you or by your group companion in part 1. You are going to play this game for 12 consecutive rounds, one of which will be relevant for the payment of this part. In every round you are going to face a single opponent, randomly drawn at the beginning of each round, and the return (alpha) can change as well. If in a given round alpha depends on your ability, you will be informed about this, however you will not receive any information about the value of your ability. You can rely on your own estimation to have a more accurate prediction of alpha. In the case it will depend on the ability of the other, you will also receive accurate information about his/her performance. -->
    </p>
    <p>
        In each round both you and your group partner will be endowed with 100 tokens. You can choose either to allocate them in a group project or to keep them for yourself (every combination of integer numbers is possible). If the current round is selected, each player’s payoff will be the sum of the amount of money kept for himself/herself plus the earnings from the group project. The earnings from the group project are calculated as follows: both players invest part of their money in the project, their sum is multiplied by a factor alpha and then the resulting amount is returned to both players. Therefore each player will receive the same amount of money from the group project. 
    </p>
    <p>
        Alpha will depend on how well you or your partner performed in part 1. More specifically it will simply be the number of players who are strictly worse than you or your partner, divided by ten (the number of participants), as shown in the following table.
    </p>
        <table>
            <thead style="border-bottom: 1px solid #000;">
                <tr>
                    <th> Number of players who are strictly worse than you </th> <th style="width: 20px"></th> <th> Alpha </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td> 0 </td><td style="width: 20px"></td> <td> 0 </td> 
                </tr>
                <tr>
                    <td> 1 </td><td style="width: 20px"></td> <td> 0.1 </td> 
                </tr>
                <tr>
                    <td> 2 </td><td style="width: 20px"></td> <td> 0.2 </td> 
                </tr>
                <tr>
                    <td> ... </td><td style="width: 20px"></td> <td> ... </td>   
                </tr>
                <tr>
                    <td> 5 </td><td style="width: 20px"></td> <td> 0.5 </td>
                </tr>
                <tr>
                    <td> 6 </td><td style="width: 20px"></td> <td> 0.6 </td>   
                </tr>
                <tr>
                    <td> ... </td><td style="width: 20px"></td> <td> ... </td>   
                </tr>
                <tr>
                    <td> 9 </td><td style="width: 20px"></td> <td> 0.9 </td>    
                </tr>
            </tbody>
        </table>

        <!-- Suppose it is determined by your performance and you ended up in the 5<sup>th</sup> decile, then alpha will be 0.5. In case it is determined by your opponent's performance you will be informed about its value, for instance 7<sup>th</sup> decile, and the alpha will consequently be 0.7. --> 
    <p>
    </p>
    <p>
        The payoff of this part will therefore be
    </p>
    <p align="center"><em><b>Payoff from part 2 = 100 - your contribution + alpha*(your contribution + your partner's contribution)</b></em></p>
    <p>
        Remember that before the Contribution page is shown, you will be informed about the player whose performance will be relevant for alpha. If your partner's performance determines alpha, then you will also be informed about alpha. However, if it is based upon your performance, you will not receive any further information.
    </p>
    <p>
        At the end of the game only one of the rounds is going to be selected and you will be explicitly told which one, with the payoff in detail. Immediately afterwards you will have to fill in a quick survey and then you will be paid by the experimenters. Please remain in your cubicle until your number is called.    
    </p>
</div>


